<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo0J-AB75hebYNkGP-BVYm5QSkFMUToRg</string>
	<key>GCM_SENDER_ID</key>
	<string>668082011772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvvmShop</string>
	<key>PROJECT_ID</key>
	<string>mvvmshop-21b38</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmshop-21b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668082011772:ios:ad31e9722638450a9193f9</string>
</dict>
</plist>